@tailwind base;
@tailwind components;
@tailwind utilities;

@import './base.css';

/* Rest of your styles */
#app {
  @apply min-h-screen w-screen overflow-x-hidden;
}

body {
  @apply m-0 p-0;
}

* {
  @apply box-border;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
